.agent-visualizer > .lk-audio-bar {
    width: 72px;
    border-width: 2px;
    border-color: rgb(59, 130, 246);
    background-color: rgb(255, 255, 255);
    color: rgb(59, 130, 246);

}

.agent-visualizer {
    background-color: rgb(255, 255, 255);
}

.lk-audio-bar-visualizer {
    height: 60%;
}

.lk-agent-control-bar {
@apply border-t-0 p-0 h-min mr-4;
}

.lk-room-container {
    background-color: rgb(255, 255, 255);
}

.lk-disconnect-button {
@apply h-[36px] hover:bg-[#6b221a] hover:text-[white] bg-[#31100c] border-[#6b221a];
}